/* Button | DropDownButton | ComboButton | ToggleButton
 * 
 * Styling Buttons mainly includes:
 * 
 * 1. Containers
 * 		.dijitButton
 * 		.dijitDropDownButton
 * 		.dijitComboButton
 * 		.dijitButtonNode - common button/arrow wrapper shared across all three button types 
 *
 * 2. Button text
 * 		.dijitButtonText
 * 
 * 3. Arrows - only for DropDownButton and ComboButton
 * 	     There are total four directions arrows - down, left, right, up:
 * 		.dijitArrowButtonInner - down arrow by default
 *      .dijitLeftArrowButton .dijitArrowButtonInner - left arrow
 *      .dijitRightArrowButton .dijitArrowButtonInner - right arrow
 *      .dijitUpArrowButton .dijitArrowButtonInner - up arrow
 * 
 * 4. States - Hover, Active, Disabled, e.g.
 * 		.dijitButtonHover .dijitButtonNode
 * 		.dijitButtonActive .dijitButtonNode
 * 		.dijitButtonDisabled .dijitButtonNode
 *      
 *      .dijitDisabled .dijitArrowButtonInner  - disabled arrow states 
 */

.#{$theme} .dijitButtonNode {
	/* rules for dijit.form.*Button widgets and arrow nodes on ComboBox, Spinner etc. */
	@include transition-property(background-color);
 	@include transition-duration(.3s);
}

.#{$theme} .dijitButton .dijitButtonNode,
.#{$theme} .dijitDropDownButton .dijitButtonNode,
.#{$theme} .dijitComboButton .dijitButtonNode,
.#{$theme} .dijitToggleButton .dijitButtonNode {
	/* rules for the dijit.form.*Button widgets (see also ComboButton section below) */
	border: 1px solid $button-border-color;
	padding: 2px 4px 4px 4px;
	color: $text-color;
	@include border-radius($button-border-radius);
	@include box-shadow(0 1px 1px rgba(0,0,0,0.15));

	background-color: desaturate(darken($button-background-color, 10), 20);

	// Alpha transparency layer to add gradient to above background color.
	// Use CSS gradient with fallback to image for IE.
	background-image: url("images/buttonEnabled.png");
	background-repeat: repeat-x;
	@include alpha-white-gradient-6(1, 0px, 0, 3px, 0.75, 100%);
	_background-image: none;	// IE6 can't handle background-color and background-image at once.
}


.#{$theme} .dijitComboButton .dijitArrowButton {
	border-left-width: 0;
	padding: 4px 2px 4px 2px;	/* TODO: still needed? */
}

/*arrow styles for down/up/left/right directions*/
.#{$theme} .dijitArrowButtonInner {
	width: 15px;
	height: 15px;
	margin: 0 auto;
	background-image:url("#{$image-form-button-arrows}");
	background-repeat:no-repeat;
	background-position:-51px 53%;
}
.#{$theme} .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -77px 53%;
}
.#{$theme} .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -26px 53%;
}
.#{$theme} .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: 0 53%;
}
.#{$theme} .dijitDisabled .dijitArrowButtonInner {
	background-position: -151px 53%;
}
.#{$theme} .dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -177px 53%;
}
.#{$theme} .dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -126px 53%;
}
.#{$theme} .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: -100px 53%;
}

.#{$theme} .dijitButtonText {
	padding: 0 0.3em;
	text-align: center;
}





/* hover status */
.#{$theme} .dijitButtonHover .dijitButtonNode,
.#{$theme} .dijitDropDownButtonHover .dijitButtonNode,
.#{$theme} .dijitComboButton .dijitButtonNodeHover, 
.#{$theme} .dijitComboButton .dijitDownArrowButtonHover,
.#{$theme} .dijitToggleButtonHover .dijitButtonNode {
	background-color: desaturate(darken($button-hovered-background-color, 10), 20);
	color:$text-color;
 	@include transition-duration(.2s);
}

/* active, checked status */
.#{$theme} .dijitButtonActive .dijitButtonNode, 
.#{$theme} .dijitDropDownButtonActive .dijitButtonNode,
.#{$theme} .dijitComboButtonActive .dijitButtonNode,
.#{$theme} .dijitToggleButtonActive .dijitButtonNode,
.#{$theme} .dijitToggleButtonChecked .dijitButtonNode {
	background-color: desaturate(darken($button-pressed-background-color, 10), 20);
	@include box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.2));
 	@include transition-duration(.1s);
}

/* disabled status */
.#{$theme} .dijitButtonDisabled,
.#{$theme} .dijitDropDownButtonDisabled,
.#{$theme} .dijitComboButtonDisabled,
.#{$theme} .dijitToggleButtonDisabled {
	background-image: none;
	outline: none;
}

.#{$theme} .dijitButtonDisabled .dijitButtonNode,
.#{$theme} .dijitDropDownButtonDisabled .dijitButtonNode,
.#{$theme} .dijitComboButtonDisabled .dijitButtonNode,
.#{$theme} .dijitToggleButtonDisabled .dijitButtonNode {
	background-color: $disabled-background-color;
	border: solid 1px $disabled-border-color;
	color: $disabled-text-color;
	@include box-shadow(0 0 0 rgba(0,0,0,0));

	// Change the gradient from light to dark.
	// Again using CSS gradient with fallback to image for IE.
	background-image: url("images/buttonDisabled.png");
	@include alpha-white-gradient-4(1, 0%, 0, 40%);
	_background-image: none;	// IE6 can't handle background-color and background-image at once.
}

.#{$theme} .dijitComboButtonDisabled .dijitArrowButton{ 
	border-left-width: 0;
}
/* for ComboButton */
.#{$theme} table.dijitComboButton {
	border-collapse: separate;	/* override dijit.css so that ComboBox rounded corners work */
}

.#{$theme} .dijitComboButton .dijitStretch {
	@include border-radius($button-border-radius 0 0 $button-border-radius);
}
.#{$theme} .dijitComboButton .dijitArrowButton {
	@include border-radius(0 $button-border-radius $button-border-radius 0);
}
