/* Slider 
 * 
 * Styling Slider mainly includes styling the Slider progress bar (dijitSliderProgressBar)
 * 
 * Slider progress bar:
 * 1. Slider progress bar (default styling): 
 * 		.dijitSliderProgressBarH - progress bar at the middle of horizontal slider
 * 		.dijitSliderLeftBumper - bar at the left of horizontal slider
 * 		.dijitSliderRightBumper - bar at the right of horizontal slider
 * 		.dijitSliderProgressBarV - progress bar at the middle of vertical slider
 * 		.dijitSliderTopBumper - bar at the top of vertical slider
 * 		.dijitSliderBottomtBumper - bar at the bottom of vertical slider
 * 
 * 2. hovered Slider progress bar (ie, mouse hover on progress bar)
 * 		.dijitSliderHover .dijitSliderProgressBarH(horizontal) - hovered bar style: background, border
 * 
 * 3. focused Slider progress bar (ie, mouse focused on progress bar)
 * 		.dijitSliderFocused .dijitSliderProgressBarH(horizontal) - focus bar style: background, border
 * 
 * 4. disabled/read-only Slider progress bar 
 * 		.dijitSliderDisabled .dijitSliderProgressBarH(horizontal) - bar styles when slider is disabled
 * 
 * 
 * Slider Thumbs:
 * 1. Slider Thumbs (default styling): 
 * 		.dijitSliderImageHandleH / .dijitSliderImageHandleV - styles for the controller on the progress bar
 * 
 * 2. hovered Slider Thumbs (ie, mouse hover on slider thumbs)
 * 		.dijitSliderHover .dijitSliderImageHandleH - hovered controller style
 * 
 * 3. focused Slider progress bar (ie, mouse focused on slider thumbs)
 * 		.dijitSliderFocused .dijitSliderImageHandleV - focused controller style
 * 
 * 
 * Slider Increment/Decrement Buttons:
 * 1. Slider Increment/Decrement Buttons (default styling): 
 * 		.dijitSliderDecrementIconH - decrement icon which lies at the left of horizontal slider
 * 		.dijitSliderIncrementIconH - increment icon which lies at the right of horizontal slider
 * 		.dijitSliderDecrementIconV - decrement icon which lies at the bottom of vertical slider
 * 		.dijitSliderIncrementIconV - increment icon which lies at the top of vertical slider
 * 
 * 2. hovered Slider Increment/Decrement Buttons (mouse hover on the icons)
 * 		.dijitSliderHover .dijitSliderDecrementIconH - for background, border
 * 
 * 3. active Slider Increment/Decrement Buttons (mouse down on the icons)
 * 		.dijitSliderActive .dijitSliderIncrementIconV - for background, border
 * 
 * 4. disabled/read-only Slider Increment/Decrement Buttons
 * 		.dijitSliderDisabled .dijitSliderDecrementIconH - styles for the icons in disabled slider
 * 		.dijitSliderReadOnly .dijitSliderIncrementIconV - styles for the icons in read-only slider
 */

.#{$theme} .dijitSliderBar {
	border-style: solid;
	outline: 1px;
}
.#{$theme} .dijitSliderFocused .dijitSliderBar {
	border-color: $focused-border-color;
}
.#{$theme} .dijitSliderHover .dijitSliderBar {
	border-color: $hovered-border-color;
}
.#{$theme} .dijitSliderDisabled .dijitSliderBar {
	background-image: none;
	border-color: $disabled-border-color;
}
.#{$theme} .dijitRuleLabelsContainer {
	color: $text-color;
}

/* Horizontal Slider */

.#{$theme} .dijitRuleLabelsContainerH {
	padding: 2px 0;
}
.#{$theme} .dijitSlider .dijitSliderProgressBarH,
.#{$theme} .dijitSlider .dijitSliderLeftBumper{
	border-color: $border-color;
	background-color: $slider-fullbar-background-color;
	@include alpha-white-gradient-7 (top, 1,0px, 1,1px, 0,2px);
}
.#{$theme} .dijitSlider .dijitSliderRemainingBarH,
.#{$theme} .dijitSlider .dijitSliderRightBumper{
	border-color: $border-color;
	background-color: $slider-remainingbar-background-color;
}
.#{$theme} .dijitSliderRightBumper {
	border-right: solid 1px $border-color;
}
.#{$theme} .dijitSliderLeftBumper {
	border-left: solid 1px $border-color;
}
.#{$theme} .dijitSliderHover .dijitSliderProgressBarH,
.#{$theme} .dijitSliderHover .dijitSliderLeftBumper{
	background-color: $slider-hovered-fullbar-background-color;
	border-color: $hovered-border-color;
}
.#{$theme} .dijitSliderHover .dijitSliderRemainingBarH,
.#{$theme} .dijitSliderHover .dijitSliderRightBumper{
	background-color: $slider-hovered-remainingbar-background-color;
	border-color: $hovered-border-color;
}
.#{$theme} .dijitSliderFocused .dijitSliderProgressBarH,
.#{$theme} .dijitSliderFocused .dijitSliderLeftBumper{
	background-color: $slider-focused-fullbar-background-color;
	border-color: $focused-border-color;
	@include box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.2));
}
.#{$theme} .dijitSliderFocused .dijitSliderRemainingBarH,
.#{$theme} .dijitSliderFocused .dijitSliderRightBumper{
	background-color: $slider-focused-remainingbar-background-color;
	border-color: $focused-border-color;
	@include box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.2));
}
.#{$theme} .dijitSliderDisabled .dijitSliderProgressBarH,
.#{$theme} .dijitSliderDisabled .dijitSliderLeftBumper{
	background-color: $disabled-border-color;		/* left side of slider, fill matches border */
	background-image:none;
}
.#{$theme} .dijitSliderDisabled .dijitSliderRemainingBarH,
.#{$theme} .dijitSliderDisabled .dijitSliderRightBumper{
	background-color: $disabled-background-color;
}

/* Vertical Slider */

.#{$theme} .dijitRuleLabelsContainerV {
	padding: 0 2px;
}
.#{$theme} .dijitSlider .dijitSliderProgressBarV,
.#{$theme} .dijitSlider .dijitSliderBottomBumper{
	border-color: $border-color;
	background-color: $slider-fullbar-background-color;
	@include alpha-white-gradient-5 (left, 1,0px, 0,1px);
}
.#{$theme} .dijitSlider .dijitSliderRemainingBarV,
.#{$theme} .dijitSlider .dijitSliderTopBumper{
	border-color: $border-color;
	background-color: $slider-remainingbar-background-color;
}
.#{$theme} .dijitSliderBottomBumper {
	border-bottom: solid 1px $border-color;
}
.#{$theme} .dijitSliderTopBumper {
	border-top: solid 1px $border-color;
}
.#{$theme} .dijitSliderHover .dijitSliderProgressBarV,
.#{$theme} .dijitSliderHover .dijitSliderBottomBumper{
	background-color: $slider-hovered-fullbar-background-color;
	border-color: $hovered-border-color;
}
.#{$theme} .dijitSliderHover .dijitSliderRemainingBarV,
.#{$theme} .dijitSliderHover .dijitSliderTopBumper{
	background-color: $slider-hovered-remainingbar-background-color;
	border-color: $hovered-border-color;
}
.#{$theme} .dijitSliderFocused .dijitSliderProgressBarV,
.#{$theme} .dijitSliderFocused .dijitSliderBottomBumper{
	background-color: $slider-focused-fullbar-background-color;
	border-color: $focused-border-color;
	@include box-shadow(inset 1px 0px 1px rgba(0, 0, 0, 0.2));
}
.#{$theme} .dijitSliderFocused .dijitSliderRemainingBarV,
.#{$theme} .dijitSliderFocused .dijitSliderTopBumper{
	background-color: $slider-focused-remainingbar-background-color;
	border-color: $focused-border-color;
	@include box-shadow(inset 1px 0px 1px rgba(0, 0, 0, 0.2));
}
.#{$theme} .dijitSliderDisabled .dijitSliderProgressBarV,
.#{$theme} .dijitSliderDisabled .dijitSliderBottomBumper{
	background-color: $disabled-border-color;	/* bottom side of slider, fill matches border */
}
.#{$theme} .dijitSliderDisabled .dijitSliderRemainingBarV,
.#{$theme} .dijitSliderDisabled .dijitSliderTopBumper{
	background-color: $disabled-background-color;
}


/* ------- Thumbs ------- */

.#{$theme} .dijitSliderImageHandleH {
	border: 0;
	width: 18px;
	height: 16px;
	background-image: url("#{$image-form-slider-thumbs}");
	background-repeat:no-repeat;
	background-position:0 0;
}
.#{$theme} .dijitSliderHover .dijitSliderImageHandleH {
	background-position:-18px 0;
}
.#{$theme} .dijitSliderFocused .dijitSliderImageHandleH {
	background-position:-36px 0;
}
.#{$theme} .dijitSliderProgressBarH .dijitSliderThumbHover{
	background-position:-36px 0;
}
.#{$theme} .dijitSliderProgressBarH .dijitSliderThumbActive{
	background-position:-36px 0;
}
.#{$theme} .dijitSliderReadOnly .dijitSliderImageHandleH,
.#{$theme} .dijitSliderDisabled .dijitSliderImageHandleH {
	background-position:-54px 0;
}
.#{$theme} .dijitSliderImageHandleV {
	border: 0;
	width: 18px;
	height: 16px;
	background-image: url("#{$image-form-slider-thumbs}");
	background-repeat:no-repeat;
	background-position:-289px 0;
}
.#{$theme} .dijitSliderHover .dijitSliderImageHandleV {
	background-position:-307px 0;
}
.#{$theme} .dijitSliderFocused .dijitSliderImageHandleV {
	background-position:-325px 0;
}
.#{$theme} .dijitSliderProgressBarV .dijitSliderThumbHover{
	background-position:-325px 0;
}
.#{$theme} .dijitSliderProgressBarV .dijitSliderThumbActive{
	background-position:-325px 0;
}
.#{$theme} .dijitSliderReadOnly .dijitSliderImageHandleV,
.#{$theme} .dijitSliderDisabled .dijitSliderImageHandleV {
	background-position:-343px 0;
}

/* ---- Increment/Decrement Buttons ---- */

.#{$theme} .dijitSliderButtonContainerH{
	padding: 1px 3px 1px 2px;
}
.#{$theme} .dijitSliderButtonContainerV{
	padding: 3px 1px 2px 1px;
}
.#{$theme} .dijitSliderDecrementIconH,
.#{$theme} .dijitSliderIncrementIconH,
.#{$theme} .dijitSliderDecrementIconV,
.#{$theme} .dijitSliderIncrementIconV {
	background-image: url("#{$image-form-common-arrows}");
	background-repeat:no-repeat;
	background-color: $arrowbutton-background-color;
	@include border-radius(2px);
	border: solid 1px $border-color;
	font-size: 1px;
}
.#{$theme} .dijitSliderDecrementIconH,
.#{$theme} .dijitSliderIncrementIconH {
	height: 12px;
	width: 9px;
}
.#{$theme} .dijitSliderDecrementIconV,
.#{$theme} .dijitSliderIncrementIconV {
	height: 9px;
	width: 12px;
}
.#{$theme} .dijitSliderActive .dijitSliderDecrementIconH,
.#{$theme} .dijitSliderActive .dijitSliderIncrementIconH,
.#{$theme} .dijitSliderActive .dijitSliderDecrementIconV,
.#{$theme} .dijitSliderActive .dijitSliderIncrementIconV,
.#{$theme} .dijitSliderHover .dijitSliderDecrementIconH,
.#{$theme} .dijitSliderHover .dijitSliderIncrementIconH,
.#{$theme} .dijitSliderHover .dijitSliderDecrementIconV,
.#{$theme} .dijitSliderHover .dijitSliderIncrementIconV {
	/* dijitSliderActive should be treated as dijitSliderHover since "clicking the slider" has no meaning */
	border: solid 1px $hovered-border-color;
	background-color: $slider-hoveredButton-background-color;
}

.#{$theme} .dijitSliderDecrementIconH {
	background-position:-357px 50%;
}
.#{$theme} .dijitSliderActive .dijitSliderDecrementIconH
.#{$theme} .dijitSliderHover .dijitSliderDecrementIconH {
	background-position:-393px 50%;
}
.#{$theme} .dijitSliderIncrementIconH {
	background-position:-251px 50%;
}
.#{$theme} .dijitSliderActive .dijitSliderIncrementIconH
.#{$theme} .dijitSliderHover .dijitSliderIncrementIconH {
	background-position:-283px 50%;
}
.#{$theme} .dijitSliderDecrementIconV {
	background-position:-38px 50%;
}
.#{$theme} .dijitSliderActive .dijitSliderDecrementIconV
.#{$theme} .dijitSliderHover .dijitSliderDecrementIconV {
	background-position:-73px 50%;
}
.#{$theme} .dijitSliderIncrementIconV {
	background-position:-143px 49%;
}
.#{$theme} .dijitSliderActive .dijitSliderIncrementIconV
.#{$theme} .dijitSliderHover .dijitSliderIncrementIconV {
	background-position:-178px 49%;
}
.#{$theme} .dijitSliderButtonContainerV .dijitSliderDecrementButtonHover,
.#{$theme} .dijitSliderButtonContainerH .dijitSliderDecrementButtonHover,
.#{$theme} .dijitSliderButtonContainerV .dijitSliderIncrementButtonHover,
.#{$theme} .dijitSliderButtonContainerH .dijitSliderIncrementButtonHover {
	background-color: $slider-button-hovered-background-color;
}
.#{$theme} .dijitSliderButtonContainerV .dijitSliderDecrementButtonActive,
.#{$theme} .dijitSliderButtonContainerH .dijitSliderDecrementButtonActive,
.#{$theme} .dijitSliderButtonContainerV .dijitSliderIncrementButtonActive,
.#{$theme} .dijitSliderButtonContainerH .dijitSliderIncrementButtonActive {
	background-color: $slider-button-pressed-background-color;
	border-color:$pressed-border-color;
}
.#{$theme} .dijitSliderButtonInner {
	visibility: hidden;
}
.#{$theme} .dijitSliderDisabled .dijitSliderBar{
	border-color: $disabled-border-color;
}
.#{$theme} .dijitSliderReadOnly *,.#{$theme} .dijitSliderDisabled * {
	border-color: $disabled-border-color;
	color: $disabled-text-color;
}
.#{$theme} .dijitSliderReadOnly .dijitSliderDecrementIconH,
.#{$theme} .dijitSliderDisabled .dijitSliderDecrementIconH {
	background-position:-321px 50%;
	background-color:$disabled-background-color;
}
.#{$theme} .dijitSliderReadOnly .dijitSliderIncrementIconH,
.#{$theme} .dijitSliderDisabled .dijitSliderIncrementIconH {
	background-position:-215px 50%;
	background-color:$disabled-background-color;
}
.#{$theme} .dijitSliderReadOnly .dijitSliderDecrementIconV,
.#{$theme} .dijitSliderDisabled .dijitSliderDecrementIconV {
	background-position:-3px 49%;
	background-color:$disabled-background-color;
}
.#{$theme} .dijitSliderReadOnly .dijitSliderIncrementIconV,
.#{$theme} .dijitSliderDisabled .dijitSliderIncrementIconV {
	background-position:-107px 49%;
	background-color:$disabled-background-color;
}
