/* TimePicker */

.dj_ie .#{$theme} .dijitTimePickerRtl .dijitTimePickerTickHover,
.dj_ie .#{$theme} .dijitTimePickerRtl .dijitTimePickerMarkerHover,
.dj_ie .#{$theme} .dijitTimePickerRtl .dijitTimePickerMarkerSelected,
.dj_ie .#{$theme} .dijitTimePickerRtl .dijitTimePickerTickSelected {
	margin-left:-6px;
	margin-right:-8px;
	width: 114%;	
}