/* Toolbar 
 * 
 * Styling Toolbar means styling the toolbar container and the widget inside toolbar  (dijitToolbar)
 * 
 * 1. toolbar (default styling): 
 * 		.dijitToolbar - styles for outer container
 *
 * 2. widget inside toolbar
 * 		.dijitToolbar .dijitButtonNode   - Button widget
 * 					  .dijitComboButton  - ComboButton widget
 * 					  .dijitDropDownButton  - DropDownButton widget
 * 					  .dijitToggleButton  - ToggleButton widget
 * 		
 * 3. hovered widget inside toolbar (ie, mouse hover on the widget inside)
 * 			.dijitToolbar .dijitButtonNodeHover  - styles for hovered Button widget
 * 
 * 4. actived widget inside toolbar (ie, mouse down on the widget inside)
 * 			.dijitToolbar .dijitButtonNodeActive  - mouse down on Button widget
 */

.#{$theme} .dijitToolbar {
	border-bottom: 1px solid $border-color;
	background-color: $bar-background-color;
	@include standard-gradient;
	padding: 2px 0 2px 4px;
	zoom: 1;
}

.#{$theme} .dijitToolbar label {
	padding: 0 3px 0 6px;
}

/** override claro/form/Button.css, and also ComboBox down arrow **/
.#{$theme} .dijitToolbar .dijitButton .dijitButtonNode,
.#{$theme} .dijitToolbar .dijitDropDownButton .dijitButtonNode,
.#{$theme} .dijitToolbar .dijitComboButton .dijitButtonNode,
.#{$theme} .dijitToolbar .dijitToggleButton .dijitButtonNode,
.#{$theme} .dijitToolbar .dijitComboBox .dijitButtonNode {
	border-width: 0;	/* on hover/active, border-->1px, padding-->1px */
	padding: 2px;
	@include border-radius($toolbar-button-border-radius);
	@include box-shadow(none);
	@include transition-property(background-color);
	@include transition-duration-2(.3s, .35s);

	@include standard-gradient;
	background-color:rgba(171,214,255,0);
}
.dj_ie .#{$theme} .dijitToolbar .dijitButton .dijitButtonNode,
.dj_ie .#{$theme} .dijitToolbar .dijitDropDownButton .dijitButtonNode,
.dj_ie .#{$theme} .dijitToolbar .dijitComboButton .dijitButtonNode,
.dj_ie .#{$theme} .dijitToolbar .dijitToggleButton .dijitButtonNode,
.dj_ie .#{$theme} .dijitToolbar .dijitComboBox .dijitButtonNode {
	background-color: transparent;   /* for IE, which doesn't understand rgba(...) */
}

/* hover status */
.dj_ie .#{$theme} .dijitToolbar .dijitButtonHover .dijitButtonNode,
.dj_ie .#{$theme} .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode,
.dj_ie .#{$theme} .dijitToolbar .dijitComboButton .dijitButtonNodeHover,
.dj_ie .#{$theme} .dijitToolbar .dijitComboButton .dijitDownArrowButtonHover,
.dj_ie .#{$theme} .dijitToolbar .dijitToggleButtonHover .dijitButtonNode {
	/* button should still turn blue on hover, so need to override .dj_ie rules above */
	background-color: $button-hovered-background-color;
}

/* active status */
.dj_ie .#{$theme} .dijitToolbar .dijitButtonActive .dijitButtonNode,
.dj_ie .#{$theme} .dijitToolbar .dijitDropDownButtonActive .dijitButtonNode,
.dj_ie .#{$theme} .dijitToolbar .dijitComboButtonActive .dijitButtonNode,
.dj_ie .#{$theme} .dijitToolbar .dijitToggleButtonActive .dijitButtonNode {
	/* button should still turn blue on press, so need to override .dj_ie rules above */
	background-color: $button-pressed-background-color;
}

.#{$theme} .dijitToolbar .dijitComboButton .dijitStretch {
	/* no rounded border on side adjacent to arrow */
	@include border-radius($toolbar-button-border-radius 0 0 $toolbar-button-border-radius);
}
.#{$theme} .dijitToolbar .dijitComboButton .dijitArrowButton {
	/* no rounded border on side adjacent to button */
	@include border-radius(0 $toolbar-button-border-radius $toolbar-button-border-radius 0);
}

.#{$theme} .dijitToolbar .dijitComboBox .dijitButtonNode {
	padding: 0;
}

/* hover status */
.#{$theme} .dijitToolbar .dijitButtonHover .dijitButtonNode,
.#{$theme} .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode,
.#{$theme} .dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.#{$theme} .dijitToolbar .dijitComboButtonHover .dijitButtonNode {
	border-width:1px;
	background-color: $hovered-background-color;
	padding: 1px;
}
.#{$theme} .dijitToolbar .dijitComboButtonHover .dijitButtonNode,
.#{$theme} .dijitToolbar .dijitComboButtonHover .dijitDownArrowButton {
	background-color: $toolbar-combobutton-hovered-unhoveredsection-background-color;
}
.#{$theme} .dijitToolbar .dijitComboButtonHover .dijitButtonNodeHover,
.#{$theme} .dijitToolbar .dijitComboButtonHover .dijitDownArrowButtonHover {
	background-color: $hovered-background-color;
}

/* active status */
.#{$theme} .dijitToolbar .dijitButtonActive .dijitButtonNode,
.#{$theme} .dijitToolbar .dijitDropDownButtonActive .dijitButtonNode,
.#{$theme} .dijitToolbar .dijitToggleButtonActive .dijitButtonNode {
	border-width: 1px;
	background-color:$pressed-background-color;
	@include active-gradient;
	padding: 1px;
}
.#{$theme} .dijitToolbar .dijitComboButtonActive {
	@include transition-duration(.2s);
	border-width: 1px;
	padding: 0;
}
.#{$theme} .dijitToolbar .dijitComboButtonActive .dijitButtonNode,
.#{$theme} .dijitToolbar .dijitComboButtonActive .dijitDownArrowButton {
	background-color: $toolbar-combobutton-hovered-unhoveredsection-background-color;
	padding: 2px;
}
.#{$theme} .dijitToolbar .dijitComboButtonActive .dijitButtonNodeActive {
	background-color: $pressed-background-color;
	@include active-gradient;
}
.#{$theme} .dijitToolbar .dijitComboButtonActive .dijitDownArrowButtonActive {
	background-color: $pressed-background-color;
	@include active-gradient;
}

/* Avoid double border between button and arrow */
.#{$theme} .dijitToolbar .dijitComboButtonHover .dijitDownArrowButton,
.#{$theme} .dijitToolbar .dijitComboButtonActive .dijitDownArrowButton {
	border-left-width: 0;
}
.#{$theme} .dijitToolbar .dijitComboButtonHover .dijitDownArrowButton {
	padding-left: 2px;		/* since there's no left border, don't reduce from 2px --> 1px */
}

/* toggle button checked status */
.#{$theme} .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
	margin: 0;	/* remove margin and add a border */
	border-width: 1px;
	border-style: solid;
	background-image: none;
	border-color: $selected-border-color;
	background-color: $toolbar-button-checked-background-color;
	padding: 1px;
}

.#{$theme} .dijitToolbarSeparator {
	/* separator icon in the editor sprite */
	background: url($image-editor-icons-enabled);
}

/* Toolbar inside of disabled Editor */
.#{$theme} .dijitDisabled .dijitToolbar {
	background:none;
	background-color:$disabled-background-color;
	border-bottom: 1px solid $disabled-border-color;
}

.#{$theme} .dijitToolbar .dijitComboBoxDisabled .dijitArrowButtonInner {
	background-position:0 50%;
}

