/* Toolbar RTL */

/* Repeated rules from Toolbar.css to override rule from Button_rtl.css, which is loaded after Toolbar.css */
.#{$theme} .dijitToolbar .dijitComboButtonRtl .dijitButtonNode {
	border-width: 0;
	padding: 2px;
}
.#{$theme} .dijitToolbar .dijitComboButtonRtlHover .dijitButtonNode,
.#{$theme} .dijitToolbar .dijitComboButtonRtlActive .dijitButtonNode {
	border-width: 1px;
	padding: 1px;
}

.#{$theme} .dijitToolbar .dijitComboButtonRtl .dijitStretch {
	/* no rounded border on side adjacent to arrow */
	@include border-radius(0 2px 2px 0);
}
.#{$theme} .dijitToolbar .dijitComboButtonRtl .dijitArrowButton {
	/* no rounded border on side adjacent to button */
	@include border-radius(2px 0 0 2px);
}

.#{$theme} .dijitToolbar .dijitComboButtonRtlHover .dijitArrowButton,
.#{$theme} .dijitToolbar .dijitComboButtonRtlActive .dijitArrowButton {
	/* border between button and arrow */
	border-left-width: 1px;
	border-right-width: 0;
	padding-left: 1px;
	padding-right: 2px;
}
